@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    background-color: black;
    overflow: hidden;
}

.fade {
    position: absolute;
    background-image: linear-gradient(0deg, transparent, black 75%);
    width: 100%;
    height: 50%;
    z-index: 999;
}

.container {
    perspective: 75px;
    position: relative;
    height: 60vh;
    margin: 0 auto;
}

.text {
    animation: space_text_movement;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
}

.text > p {
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    font-weight: 900;
    color: yellow;
    text-align: center;
    letter-spacing: 2px;
}

@keyframes space_text_movement {
    0%{
        transform: rotateX(9deg) translateX(0) translateY(650px);
    }
    
    100% {
        transform: rotateX(12deg) translateX(0) translateY(-1000px);
    }
}